* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-matcha: #025157;
    --secondary-color-marcha: #67b54b;
}

a {
    text-decoration: none;
}

main h1 {
    font-family:'PT Serif', serif;
    font-size: 68px;
}

main p {
    font-size: 20px;
}

.text-green-matcha {
    color: #025157;
}

.matcha-primary-color-btn {
    color: #fff;
    background-color: #025157;
}

.matcha-secondary-color-btn {
    background-color: var(--secondary-color-marcha);
    color:#fff;
}

.matcha-background-color {
    background-color: #025157;
}

.nav-item .nav-link {
    color: #025157;
}


/*---------Nav-bar---------*/
.dropdown-menu p {
    font-size: 12px;
}

.dropdown-menu a {
    color: #025157;
}

.dropdown-menu a:hover {
    color: var(--secondary-color-marcha);
    text-decoration: none;
}