* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-matcha: #025157;
    --secondary-color-marcha: #67b54b;
}

body {
    font-weight: 400;
}

p {
    font-size: 16px;
}

main h1 {
    font-family:'PT Serif', serif;
    font-size: 68px;
}

.h1--alt {
    font-size: 55px;
    font-weight: 700;
    color: var(--primary-color-matcha);
    font-family:'PT Serif', serif;
}

.h2--alt {
    color: var(--primary-color-matcha);
    font-size: 36px;
    font-family:'PT Serif', serif;
    letter-spacing: -2px;
}

.text-green-matcha {
    color: #025157;
}

.matcha-primary-color-btn {
    color: #fff;
    background-color: #025157;
}

.matcha-secondary-color-btn {
    background-color: var(--secondary-color-marcha);
    color:#fff !important;
}

.matcha-background-color {
    background-color: #025157;
}

.nav-item .nav-link {
    color: #025157;
}

.link_matcha {
    color: #4a4a4a;
}

.link_matcha:hover {
    color: var(--secondary-color-marcha);
    text-decoration: none;
}

.link_matcha-green-light {
    color: var(--secondary-color-marcha);
    text-decoration: none;
}

.link_matcha-green-light:hover {
    color: var(--secondary-color-marcha);
}


/*---------Nav-bar---------*/
.dropdown-menu p {
    font-size: 12px;
}

.dropdown-menu a {
    color: #025157;
}

.dropdown-menu a:hover {
    color: var(--secondary-color-marcha);
    text-decoration: none;
}

/*------Top Features -----*/
.group__card1 .card {
    border: 0;
}
  
.group__card1 .card-header {
box-shadow: 0 8px 24px rgba(0,0,0,.1);
border: 1px solid #dadada;
background-color: transparent;
border-radius: 9px;
overflow: hidden;
}

.group__card1 img {
transition: all .3s ease-in-out;
}

.group__card1 img:hover {
transform: scale(1.03) rotate(.3deg);
}

.card-body a {
    color: #000;
}

.card-body a:hover {
    color: var(--secondary-color-marcha);
    text-decoration: none;
    transition: all 0.3s ease-out;
}

/*--------Tools Section---------*/
#tools img {
    max-width: 38px;
  }